html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100vh
}

.calculator-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.display-result {
  width: 240px;
  height: 40px;
  font-size: 20px;
  margin: 10px;
  text-align: right;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.button-row {
  display: flex;
  width: 240px;
}

.button {
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 20px;
}

.wide {
  width: 120px;
}

