@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: linear-gradient(to right, #6d26ab, #4a00e0);
  gap: 10px;
  overflow: hidden;
}

.switch {
  position: relative;
  display: flex;
  width: 70px;
  height: 25px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #a7f6f4;
  transition: .4s;
  background-image: url('img/light-mode.svg');
  background-repeat: no-repeat;
  background-size: 30% auto;
  background-position: right 6px center;
}

input:checked + .slider {
  background-color: #287cdc; 
  background-image: url('img/dark-mode.svg');
  background-repeat: no-repeat;
  background-size: 30% auto;
  background-position: left 6px center;
}

input:checked + .slider:before {
  background-color: black; 
  left: 48px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  top: 3.5px;
  background-color: rgb(134, 68, 227);
  transition: .4s;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.slider:hover {
  background-color: rgb(117, 205, 221); 
}

.slider:hover:before {
  background-color: rgb(69, 43, 153);
}

input:checked + .slider:hover::before {
  background-color: #1f053f; 
}

input:checked + .slider:hover {
  background-color: #3693cd; 
}

.calculator-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color:  rgb(248,248,255);
  border: 3px outset rgb(21, 21, 21);
  border-radius: 25px;
  width: 75vw;
  max-width: 400px;
  height: 62vh;
  box-shadow: 0 26px 58px 5px rgba(0, 0, 0, .22), 0 5px 14px 0 rgba(0, 0, 0, .18);
  transition: background 0.2s linear;
}

@media (max-width: 480px) {
  .calculator-container {
    height: 65vh; 
  }

  .footer {
    margin-bottom: 80px;
  }
}

.output-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 35%;
  background-color: rgb(239, 236, 236);
  border-radius: 25px;
  transition: background 0.2s linear;
}

.expression {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 10px;
  padding-right: 15px;
  height: 50%;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color:rgb(79, 78, 78);
  transition: background 0.2s linear;
}

.result {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding-top: 10px;
  padding-right: 15px;
  height: 50%;
  font-size: 45px;
  font-family: 'Roboto', sans-serif;
  color: rgb(14, 14, 14);
  transition: background 0.2s linear;
}

@media (max-width: 768px) {
  .expression {
    font-size: 14px;
  }

  .result {
    font-size: 30px;
  }
}

.button-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 65%;
  width: 100%;
  gap: 13px;
  padding: 15px;
}

@media (max-width: 480px) {
  .button-container {
    grid-template-columns: repeat(4, minmax(30px, 1fr));
    width: 100%;
    gap: 8px;
    padding: 10px;
  }
}

.button {
  text-align: center;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  border-radius: 25px;
  border: none;
  outline: none;
  color: rgb(13, 13, 13);
  background-color: rgb(236, 236, 236);
  /* Prevent auto text highlighting */
  user-select: none; 
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  transition: background 0.2s linear;
  touch-action: manipulation;
}

svg {
  transform: scale(1.5);
  transform-origin: center;
}

@media (max-width: 768px) {
  svg {
    transform: scale(1.1);
  }
}

.button:hover {
  background-color: rgb(219, 217, 217);
  transition: background 0.2s linear;
}

.wide {
  grid-column: span 2;                                                         /* Takes '=' button the size of 2 regular buttons */
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  color: rgb(198, 197, 196);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

/* If dark mode is enabled */ 
.calculator-container.dark-mode {
  background-color:  rgb(16,12,8);
  border: 3px inset rgb(50, 189, 213);
}

.output-container.dark-mode {
  background-color: rgb(22, 21, 19);
}

.button.dark-mode {
  color: rgb(0,255,255);
  background-color: black;
}

.result.dark-mode {
  color: rgb(250, 249, 246);
}

.expression.dark-mode {
  color:rgb(191, 182, 182);
}

.dark-mode .button:hover {
  background-color: rgb(21, 23, 23);
}

.dark-mode {
  transition: background 0.2s linear;
}

.dark-mode .button:active {
  background-color: rgb(48, 73, 73);
}

.button:active {
  background-color: rgb(176, 175, 175);
}

.gitSVG {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease-in-out;
}

.gitSVG:hover {
  animation: bounce 0.5s;
  animation-fill-mode: both;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-5px);
  }
}

@media (max-width: 768px) {
  .button {
    font-size: 22px;
  }
}

@media (hover: none) {
  .dark-mode .button:hover {
    background-color: black;
  }

  .button:hover {
    background-color: rgb(236, 236, 236);
  }

  .dark-mode .button:active {
    background-color: rgb(48, 73, 73);
  }

  .button:active {
    background-color: rgb(176, 175, 175);
  }
}

@media (max-width: 480px) {
  .button {
    font-size: 20px;
  }

  svg {
    transform: scale(1);
  }
}